In [1]:
import pandas as pd 
import numpy as np

In [2]:
d_work = pd.read_csv('datasets/D_work.csv')
d_close_loan = pd.read_csv('datasets/D_close_loan.csv')
d_job = pd.read_csv('datasets/D_job.csv')
d_last_credit = pd.read_csv('datasets/D_last_credit.csv')
d_loan = pd.read_csv('datasets/D_loan.csv')
d_pens = pd.read_csv('datasets/D_pens.csv')
d_salary = pd.read_csv('datasets/D_salary.csv')
d_target = pd.read_csv('datasets/D_target.csv')
d_work = pd.read_csv('datasets/D_work.csv')
d_clients = pd.read_csv('datasets/D_clients.csv')

In [3]:
main_df = d_target.copy()
main_df.head(10)

   AGREEMENT_RK  ID_CLIENT  TARGET
0      59910150  106804370       0
1      59910230  106804371       0
2      59910525  106804372       0
3      59910803  106804373       0
4      59911781  106804374       0
5      59911784  106804375       0
6      59911832  106804376       0
7      59912034  106804377       0
8      59912560  106804378       0
9      59912659  106804379       0

In [4]:
main_df = main_df.merge(d_clients, how='left', left_on='ID_CLIENT', right_on='ID').drop(columns='ID')
main_df = main_df.merge(d_salary, how='left', left_on='ID_CLIENT', right_on='ID_CLIENT' )
main_df.head(10)

,AGREEMENT_RK,ID_CLIENT,TARGET,AGE,GENDER,EDUCATION,MARITAL_STATUS,CHILD_TOTAL,DEPENDANTS,SOCSTATUS_WORK_FL,SOCSTATUS_PENS_FL,REG_ADDRESS_PROVINCE,FACT_ADDRESS_PROVINCE,POSTAL_ADDRESS_PROVINCE,FL_PRESENCE_FL,OWN_AUTO,FAMILY_INCOME,PERSONAL_INCOME
0,59910150,106804370,0,49,1,Среднее специальное,Состою в браке,2,1,1,0,Оренбургская область,Оренбургская область,Оренбургская область,0,0,от 10000 до 20000 руб.,5000.0
1,59910150,106804370,0,49,1,Среднее специальное,Состою в браке,2,1,1,0,Оренбургская область,Оренбургская область,Оренбургская область,0,0,от 10000 до 20000 руб.,5000.0
2,59910230,106804371,0,32,1,Среднее,Состою в браке,3,3,1,0,Кабардино-Балкария,Кабардино-Балкария,Кабардино-Балкария,0,0,от 10000 до 20000 руб.,12000.0
3,59910525,106804372,0,52,1,Неполное среднее,Состою в браке,4,0,1,0,Иркутская область,Иркутская область,Иркутская область,0,0,от 10000 до 20000 руб.,9000.0
4,59910803,106804373,0,39,1,Высшее,Состою в браке,1,1,1,0,Ростовская область,Ростовская область,Ростовская область,1,0,от 20000 до 50000 руб.,25000.0
5,59911781,106804374,0,30,0,Среднее,Состою в браке,0,0,1,0,Кабардино-Балкария,Кабардино-Балкария,Кабардино-Балкария,0,0,от 10000 до 20000 руб.,12000.0
6,59911784,106804375,0,29,0,Среднее,Гражданский брак,0,0,1,0,Белгородская область,Белгородская область,Белгородская область,0,1,от 20000 до 50000 руб.,12000.0
7,59911832,106804376,0,35,0,Высшее,Разведен(а),1,1,1,0,Вологодская область,Вологодская область,Вологодская область,1,0,от 20000 до 50000 руб.,15000.0
8,59912034,106804377,0,41,1,Среднее,Состою в браке,0,0,1,0,Волгоградская область,Волгоградская область,Волгоградская область,1,0,от 10000 до 20000 руб.,6000.0
9,59912560,106804378,0,53,0,Высшее,Состою в браке,2,0,1,0,Ярославская область,Ярославская область,Ярославская область,0,0,свыше 50000 руб.,100000.0

In [5]:
sub_query = d_loan.merge(d_close_loan, how='left', left_on='ID_LOAN', right_on='ID_LOAN')
sub_query = sub_query.groupby(by = 'ID_CLIENT', as_index=False).count()
sub_query.columns = ['ID_CLIENT', 'LOAN_NUM_TOTAL', 'LOAN_NUM_CLOSED']
sub_query.head(10)

   ID_CLIENT  LOAN_NUM_TOTAL  LOAN_NUM_CLOSED
0  106804370               1                1
1  106804371               1                1
2  106804372               2                2
3  106804373               1                1
4  106804374               2                2
5  106804375               2                2
6  106804376               2                2
7  106804377               2                2
8  106804378               1                1
9  106804379               1                1

In [6]:
main_df = main_df.merge(sub_query, how='left', left_on='ID_CLIENT', right_on='ID_CLIENT')
main_df.head(15)

,AGREEMENT_RK,ID_CLIENT,TARGET,AGE,GENDER,EDUCATION,MARITAL_STATUS,CHILD_TOTAL,DEPENDANTS,SOCSTATUS_WORK_FL,SOCSTATUS_PENS_FL,REG_ADDRESS_PROVINCE,FACT_ADDRESS_PROVINCE,POSTAL_ADDRESS_PROVINCE,FL_PRESENCE_FL,OWN_AUTO,FAMILY_INCOME,PERSONAL_INCOME,LOAN_NUM_TOTAL,LOAN_NUM_CLOSED
0,59910150,106804370,0,49,1,Среднее специальное,Состою в браке,2,1,1,0,Оренбургская область,Оренбургская область,Оренбургская область,0,0,от 10000 до 20000 руб.,5000.0,1,1
1,59910150,106804370,0,49,1,Среднее специальное,Состою в браке,2,1,1,0,Оренбургская область,Оренбургская область,Оренбургская область,0,0,от 10000 до 20000 руб.,5000.0,1,1
2,59910230,106804371,0,32,1,Среднее,Состою в браке,3,3,1,0,Кабардино-Балкария,Кабардино-Балкария,Кабардино-Балкария,0,0,от 10000 до 20000 руб.,12000.0,1,1
3,59910525,106804372,0,52,1,Неполное среднее,Состою в браке,4,0,1,0,Иркутская область,Иркутская область,Иркутская область,0,0,от 10000 до 20000 руб.,9000.0,2,2
4,59910803,106804373,0,39,1,Высшее,Состою в браке,1,1,1,0,Ростовская область,Ростовская область,Ростовская область,1,0,от 20000 до 50000 руб.,25000.0,1,1
5,59911781,106804374,0,30,0,Среднее,Состою в браке,0,0,1,0,Кабардино-Балкария,Кабардино-Балкария,Кабардино-Балкария,0,0,от 10000 до 20000 руб.,12000.0,2,2
6,59911784,106804375,0,29,0,Среднее,Гражданский брак,0,0,1,0,Белгородская область,Белгородская область,Белгородская область,0,1,от 20000 до 50000 руб.,12000.0,2,2
7,59911832,106804376,0,35,0,Высшее,Разведен(а),1,1,1,0,Вологодская область,Вологодская область,Вологодская область,1,0,от 20000 до 50000 руб.,15000.0,2,2
8,59912034,106804377,0,41,1,Среднее,Состою в браке,0,0,1,0,Волгоградская область,Волгоградская область,Волгоградская область,1,0,от 10000 до 20000 руб.,6000.0,2,2
9,59912560,106804378,0,53,0,Высшее,Состою в браке,2,0,1,0,Ярославская область,Ярославская область,Ярославская область,0,0,свыше 50000 руб.,100000.0,1,1
10,59912659,106804379,0,43,1,Среднее специальное,Состою в браке,0,0,1,0,Краснодарский край,Краснодарский край,Краснодарский край,1,0,от 10000 до 20000 руб.,7000.0,1,1
11,59912692,106804380,0,54,1,Среднее специальное,Не состоял в браке,2,0,1,0,Карелия,Карелия,Карелия,1,0,от 20000 до 50000 руб.,19000.0,1,1
12,59913108,106804381,1,26,0,Среднее специальное,Не состоял в браке,0,0,1,0,Хабаровский край,Хабаровский край,Хабаровский край,0,0,от 10000 до 20000 руб.,18000.0,2,2
13,59913134,106804382,1,62,0,Среднее,Гражданский брак,3,0,0,1,Калужская область,Калужская область,Калужская область,0,1,от 10000 до 20000 руб.,7000.0,1,1
14,59913205,106804383,0,45,1,Среднее специальное,Разведен(а),3,1,1,0,Карелия,Карелия,Карелия,0,0,от 10000 до 20000 руб.,12000.0,1,1

In [9]:
main_df = main_df.drop_duplicates(subset='ID_CLIENT', keep='last')
main_df.to_csv('datasets/main.csv', index=False)

15223